apiVersion: batch/v1
kind: Job
metadata:
  name: dcn-netbox-infra-check-manual-{{ .Values.infrastructure }}
  namespace: dcn-checks
spec:
  template:
    metadata:
      labels:
        app: dcn-netbox-infra-check-{{ .Values.infrastructure }}
    spec:
      restartPolicy: Never

      volumes:
        - name: config
          configMap:
            name: dcn-netbox-infra-check-config-{{ .Values.infrastructure }}
        - name: nhn-certbundle
          configMap:
            name: nhn-certbundle
        - name: certs
          emptyDir: {}
        - name: secrets
          secret:
            secretName: dcn-secrets-{{ .Values.infrastructure }}
            items:
              - key: netbox-token
                path: netbox.secret
              - key: nam-token
                path: nam.secret
              - key: esm-password
                path: esm.secret

      initContainers:
        - name: update-ca
          image: alpine:3.20
          command: ["/bin/sh", "-c"]
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: false
            runAsUser: 0
            readOnlyRootFilesystem: false
          args:
            - |
                set -e
                apk add --no-cache ca-certificates
                cp /mnt/ca/* /usr/local/share/ca-certificates/
                update-ca-certificates
                cp -r /etc/ssl/certs/* /mnt/certs/
          volumeMounts:
            - name: nhn-certbundle
              mountPath: /mnt/ca
            - name: certs
              mountPath: /mnt/certs

      containers:
        - name: dcn-netbox-infra-check-{{ .Values.infrastructure }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: Always
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
            - name: secrets
              mountPath: /app/secrets
              readOnly: true
            - name: certs
              mountPath: /etc/ssl/certs
              readOnly: true

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
